.container {
  display: flex;
  flex-wrap: wrap;
}
.divCreado {
  margin: 2%;
  width: 10rem; /* se modifica escalabilidad para que se adapten los objetos al espacio que disponen */
  height: 10rem; 
  background-color: rgb(255, 94, 0);
}
